.cursor-animation-text {
  color: $text-gray;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: center;
  padding: 0 10vw;
  padding-top: 10vw;
  span {
    border-right: 0.05em solid $primary-blue;
    animation: caret 1s steps(1) infinite;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 900px) {
  .cursor-animation-text {
    font-size: 1.5rem;
    min-height: 120px;
  }
}
