.project-list {
  @include flex-column;
  overflow-y: scroll;
  h2 {
    font-family: $secondary-font;
    color: $secondary-blue;
    padding: 4vh 0;
  }
}

@media only screen and (max-width: 900px) {
  .project-list {
    padding: 0 5vh;
    h2 {
      font-size: 1.8rem;
    }
  }
}
