* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: $ligh-font;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-size: 100%;
  height: 100vh;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
  color: white;
  font-size: 4rem;
}

.my-button {
  display: inline-block;
  font-weight: $bold-font;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: 20px;
  font-weight: $bold-font;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
