@mixin flex-column() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-row() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
