// colors
$primary: #0b0c10;
$secondary: #1f2833;
$primary-blue: #66fcf1;
$secondary-blue: #45a29e;
$text-gray: #c5c6c7;

// font
$secondary-font: "Rampart One", cursive;
$font-size: 16px;
$ligh-font: 300;
$normal-font: 500;
$bold-font: 700;
$mobile-font: 1.4rem;
